/* :Claim this sheet: <put your name here> */
body {
    background-color: black;
    color: white;
    font-family: Centaur, sans-serif;
}

button {
    color: white;
    background-color: black;
    font-family: Centaur, sans-serif;
}